/* font link part start */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font link part end */
/* root variable part start */
:root {
    -roboto: "Roboto", sans-serif;
}

/* root variable part end */
/* common css part stat */
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
a{
    display: inline-block;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,ul,ol{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style-type: none;
}
/* common css part end */
